

.lib-tab{
    font-size: 0.909rem;
    color: rgb(106, 106, 106);
    cursor: pointer;
}

.lib-head{
    border-bottom: 1px solid rgb(186, 186, 186);
}

.active-tab{
    color: black;
}

.light-text{
    color: rgb(106, 106, 106);
}