@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";


*{
  box-sizing: border-box;
}

.font-GoogleSans{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-light{
  color: rgb(135, 135, 135);
}

.bg-dodgerBlue{
  background-color: rgb(22, 119, 217);
}

.bg-black-twhite{
  background-color: black;
  color: white;
}